.ring-1 {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 8px solid #FF8C00;
    box-shadow: 0px 0px 10px #FF8C00;
    margin: 20px;
}

.ring-2 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 20px solid #e0c30b;
    box-shadow: 0px 0px 10px #e0c30b;
    margin: 20px;
}

.container-ring,
.container-main-rig {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.ring-loop {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ring-loop .ring-scale:nth-child(1) {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 3px solid #000;
    box-shadow: 0px 0px 10px #000;
    margin: 0;
    margin-left: -20px;
}
.ring-loop .ring-scale:nth-child(2) {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 4px solid #000;
    box-shadow: 0px 0px 10px #000;
    margin: 0;
    margin-left: -20px;
}
.ring-loop .ring-scale:nth-child(3) {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 5px solid #000;
    box-shadow: 0px 0px 10px #000;
    margin: 0;
    margin-left: -20px;
}
.ring-loop .ring-scale:nth-child(4) {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 6px solid #000;
    box-shadow: 0px 0px 10px #000;
    margin: 0;
    margin-left: -20px;
}
.ring-loop .ring-scale:nth-child(5) {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 7px solid #000;
    box-shadow: 0px 0px 10px #000;
    margin: 0;
    margin-left: -20px;
}
.ring-loop .ring-scale:nth-child(6) {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 8px solid #000;
    box-shadow: 0px 0px 10px #000;
    margin: 0;
    margin-left: -20px;
}