$orange : #FF8C00;
$yellow : #e0c30b;
$black : #000;

@mixin ring ($width, $color) {
  height: $width;
  width: $width;
  border-radius: 50%;
  border: pow($width, 10) solid $color;
  box-shadow: 0px 0px 10px $color;
}

@function pow($base, $exponent) {
  $result: $base / $exponent;
  @return $result;
}

.ring-1 {
  @include ring(80px, $orange);
  margin: 20px;
}

.ring-2 {
  @include ring(200px, $yellow);
  margin: 20px;
}

.container-ring,
.container-main-rig{
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.ring-loop {
  display: flex;
  justify-content: center;
  align-items: center;
  $size-ring : 30px;
  @for $i from 1 through 6 {
    .ring-scale:nth-child(#{$i}) {
      @include ring($size-ring, $black);
      margin: 0;
      margin-left: -20px;
    }
    $size-ring : $size-ring + 10;
  }
}